#input{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border: 1px solid olivedrab;
    border-radius: 10px;
    min-width: 50%;
    max-width: 50%;
}

.aside{
    padding-left: 20px;
    padding-bottom: 10px;
}

input{
    margin-top: 10px;
}

.showReplacement{
    /*background-color: blueviolet;*/
    width: 60px;
    height: 105px;
    margin-left: 5px;
    display: inline-block;
    /*margin: 100px;*/
    /*border: 2px solid darkcyan;*/
}

.referenceString{
    /*background-color: cornflowerblue;*/
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    /*border-radius: 10px;*/
}

.pageFrames{
    display: block;
    /*background-color: yellowgreen;*/
    text-decoration: none;
    list-style-type: none;
    /*border-radius: 10px;*/
    /*padding-left: 0px;*/
    margin: 0px;
}

li{
    /*display: inline-block;*/
    /*margin-left: 10px;*/
    padding-top: 5px;
    /*margin-left: 30px;*/
    padding-right: 10px;
    /*padding-left: 10px;*/
    border: 1px solid brown;
    background-color: gold;
}

#printReplacement{
    margin-top: 100px;
    margin-left: 10px;
}